/* TOOLTIPS */

$tooltip-width: margin(xsmall);
$tooltip-offset: $tooltip-width * 2;

.tooltip {
    @include opacity(0);
    @include font(small);
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    text-align: center;
    white-space: nowrap;
    &.in {
        @include opacity(0.9);
    }
    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-width: $tooltip-width;
        border-style: solid;
        border-color: transparent;
    }
    .tooltip-inner {
        @include border-radius($border-radius);
        padding: padding(small);
        background: $black;
        color: $white;
    }
    &.top {
        padding-bottom: $tooltip-offset;
        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -1 * $tooltip-width;
            border-top-color: $black;
        }
    }
    &.right {
        padding-left: $tooltip-offset;
        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -1 * $tooltip-width;
            border-right-color: $black;
        }
    }
    &.left {
        margin-left: -1 * $tooltip-offset;
        padding-right: $tooltip-offset;
        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -1 * $tooltip-width;
            border-left-color: $black;
        }
    }
    &.bottom {
        padding-top: $tooltip-offset;
        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -1 * $tooltip-width;
            border-bottom-color: $black;
        }
    }
}